<h1>Illustrations</h1>
<h2>Illustrations using pencil, pen, and/or marker</h2>
<div class="row">
	<div class="column">
		<ul class="clearing-thumbs" data-clearing>
			<li><a href="https://et710.com/website/war2/img/mash.jpg"
					data-clearing-interchange="[https://et710.com/website/war2/img/mash.jpg, (default)], [https://et710.com/website/war2/img/mash.jpg, (large)]"><img src="https://et710.com/website/war2/img/mash.jpg"></a>
			</li>
		</ul>
	</div>
	<div class="column">
		<ul class="clearing-thumbs" data-clearing>
			<li><a href="https://et710.com/website/war2/img/butterfly.png"
					data-clearing-interchange="[https://et710.com/website/war2/img/butterfly.png, (default)], [https://et710.com/website/war2/img/butterfly.png, (large)]"><img src="https://et710.com/website/war2/img/butterfly.png"></a>
			</li>
		</ul>
	</div>